{{ define "main" }}

{{ if (fileExists "/homepage/homepage.md") }}

<span id="home-jumbotron" class="jumbotron text-center">
  <h1 class="title">{{ .Site.Title }}</h1></span>
       {{ with $.Site.GetPage "/homepage/homepage.md" }} 
            <!-- <div class="content"> -->
              <br><br>
              {{- .Content -}}
              {{ partial "footer.html" . }}
           <!-- </div> -->
      {{- end -}}
{{- else -}}

      Your front page bio should be include as a content in the following path:
      /homepage/homepage.md This allows you to expand bio as content when you want.
{{- end -}}





{{ end }}