{{$imgPosition := .Get "imgPosition" | default "default value"}}

{{ $Caption := .Params.Caption | default "" }}
{{ $Capition := .Params.Capition | default ""  }}
{{ if ne $Caption "" }}
    {{ $Caption = $Caption }} 
{{ else }}
    {{ $Caption = $Capition }} 
{{ end }}



{{$floatSide := "left"}}
{{$marginSide:= "right"}}

{{if eq $imgPosition "default value"}}
    {{$floatSide = "left"}}
    {{$marginSide = "right"}}
{{ else if eq $imgPosition "right" }}
    {{$floatSide  = "right"}}
    {{$marginSide = "left"}}
{{end}}


<a href="{{ .Get "imagePath"}}" data-lightbox="image-1" data-title="{{ $Caption }}" ><img src="{{ .Get "imagePath"}}"  alt="{{ $Caption }}" style="width:{{ .Get "width" }}; float:{{$floatSide}}; margin-{{$marginSide}} : 20px;" class="floating" ></a>