



{{ $img :="null"}}
{{ if .Get "resize"}}
    
    {{- $pathHoller := .Get "imagePath" -}}
    {{ with .Get $pathHoller }}]
        {{$original := .Get .RelPermalink}}
        {{$original}}
    {{end}}

     {{/*{{{$pathHoller}}*/}}
    {{- $img = .Page.Resources.GetMatch  $pathHoller -}}
     {{/*{{{$img}}*/}}
    {{$resizeValue := .Get "resize"}}
    {{- $img = $img.Fit $resizeValue -}}
    {{/*{{ $large = $large | images.Filter (images.GaussianBlur 6) (images.Pixelate 8) }}*/}}
   


{{ else }}
    

    {{- $pathHoller := .Get "imagePath" -}}
    {{ with .Get $pathHoller }}]
        {{$original := .Get .RelPermalink}}
        {{$original}}
    {{end}}

      {{/*{{{$pathHoller}}*/}}


    {{- $img = .Page.Resources.GetMatch  $pathHoller -}}
     {{/*{{{$img}}*/}}
    



{{ end }}

{{ $Caption := .Params.Caption | default "" }}
{{ $Capition := .Params.Capition | default ""  }}
{{ if ne $Caption "" }}
    {{ $Caption = $Caption }} 
{{ else }}
    {{ $Caption = $Capition }} 
{{ end }}

{{ $imagePath := .Params.imagePath | default "" }}
{{ if ne $imagePath "" }}
{{ else }}
    {{ $imagePath = $img.RelPermalink }} 
{{ end }}






<a href="{{ $imagePath }}" data-lightbox="image-1" data-title="{{ .Get "Capition"}}" ><img src="{{ $imagePath }}"  alt="{{ $imagePath }}" style="width:{{ .Get "width" }}" ></a>